@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --btn-primary: rgba(0, 0, 0, 0.05);
  --btn-hover: rgba(0, 0, 0, 0.1);
  --btn-emphasis: rgba(0, 0, 0, 1);
  --btn-select: #000;
  --nav-height: 56px;
  --main-min-height: calc(100vh - var(--nav-height));
  --footer-height: 80px;
  --guide-normal: 15rem;
  --guide-small: 72px;
  --backdrop: rgba(0, 0, 0, 0.7);
  --tooltip: rgba(0, 0, 0, 1);
  --scrollthumb: hsl(0, 0%, 67%);
  --scrollthumb-light: hsl(0, 0%, 77%);
  --upload-caption-width: 20rem;
  --upload-image-width: calc(min(100vw - 200px, 600px));
  --upload-header-height: 45px;
  --upload-height: calc(
    var(--upload-header-height) + var(--upload-image-width)
  );
  --upload-width: calc(var(--upload-image-width) + var(--upload-caption-width));
  --view-arrow-width: 100px;
  --view-width: calc(
    min(1500px, calc(100vw - calc(var(--view-arrow-width) * 2)))
  );
  --view-comment-width: 350px;
  --view-image-width: calc(
    min(
      calc(var(--view-width) - var(--view-comment-width)),
      var(--view-max-height)
    )
  );
  --view-max-height: calc(100vh - 50px);
  --view-close-top: 20px;
  --view-close-right: 20px;
  --profile-image-size: 150px;
  --guide-lg: 1310px;
  --guide-sm: 820px;
  --grid-max-width: calc(var(--guide-lg));
  --comment-header-height: 72px;
  --comment-input-height: 48px;
  --comment-info-height: 48px;
  --comment-footer-height: calc(
    var(--comment-input-height) + var(--comment-info-height)
  );
  --comment-top-min-height: 100px;
  --comment-profile-image-size: 45px;
  --comment-max-width: calc(
    var(--view-comment-width) - var(--comment-profile-image-size) - 32px
  );
  --following-list-width: calc(100vw - 88px);
  --following-list-height: calc(100vh - 88px);
  --placeholder-color: hsl(0, 0%, 50%);
}

:is(textarea, input)::placeholder {
  color: var(--placeholder-color);
}

textarea {
  @apply resize-none border-none outline-none shadow-none leading-tight;
}

.icon {
  @apply pointer-events-none block w-full h-full;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-background-color);
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--scrollthumb);
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-scrollthumb;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-scrollthumb-light;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
}

@keyframes spinner {
  from {
    background-color: hsla(0, 0%, 0%, 0.5);
  }

  to {
    background-color: hsla(0, 0%, 0%, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 308;
  }
  100% {
    stroke-dashoffset: 440;
  }
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    scale: 2;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes drop-down {
  0% {
    transform: translate(calc(-1 * var(--view-close-top)));
  }

  100% {
    transform: translate(0);
  }
}

@keyframes beam {
  from {
    width: 0px;
  }

  to {
    width: 100vw;
  }
}

@keyframes iridescent {
  from {
    background-color: rgb(47, 113, 236);
  }

  25% {
    background: red;
  }

  50% {
    background-color: greenyellow;
  }

  75% {
    background-color: yellow;
  }

  to {
    background-color: rgb(47, 113, 236);
  }
}
